@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* Requisitos:
Instalar NET 6.0 runtime
Node 20.11 or lastest
set path npm tool

Para iniciar:

1. dotnet tool install ElectronNET.CLI -g

directamente: electronize start *@
